


.create {
  margin-bottom: 1rem;
  text-align: right;
}

.create h1{
  text-align: center;
  font-weight: 500;

}

.container, .create {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

a, a:visited {
  color: rgba(171, 56, 238, 0.596);
}

